<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie List</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'movie_list' %}">Home</a>
            {% if request.session.user_id %}
                <p>User ID: {{ request.session.user_id }}</p>
                <a href="{% url 'profile' %}">Profile</a>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </nav>
    </header>

    <h1>Movie List</h1>

    <!-- Форма для выбора жанров -->
    <form method="get" action="{% url 'movie_list' %}">
        <h2>Выберите жанры:</h2>
        {% for genre in genres %}
            <label>
                <input type="checkbox" name="genres" value="{{ genre }}"{% if genre in selected_genres %}checked{% endif %}>
                {{ genre }}
            </label><br>
        {% endfor %}
        <button type="submit">Подобрать фильмы</button>
    </form>

    <!-- Список фильмов -->
    <h2>Подходящие фильмы:</h2>
    <ul>
        {% for movie in movies %}
            <li>
                <a href="{% url 'movie_detail' movie.movie_id %}">
                    <button>
                        {{ movie.title }}
                        {% if movie.movie_id in liked_movie_ids %}
                            (Liked)
                        {% endif %}
                    </button>
                </a>
            </li>
        {% endfor %}
    </ul>

    <!-- Пагинация -->
    <div>
        {% if movies.has_previous %}
            <a href="?page={{ movies.previous_page_number }}">Previous</a>
        {% endif %}
        <span>Page {{ movies.number }} of {{ movies.paginator.num_pages }}</span>
        {% if movies.has_next %}
            <a href="?page={{ movies.next_page_number }}">Next</a>
        {% endif %}
    </div>
</body>
</html>