<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie List</title>

</head>
<body>
    <header>
        <nav>
            <a href="{% url 'movie_list' %}">Home</a>
            {% if request.session.user_id %}
                <a href="{% url 'profile' %}">Profile</a> <!-- Кнопка "Профиль" добавлена в шапку -->
            {% endif %}
            <div class="menu-icon">&#9776;</div>
            <div class="menu-dropdown">
                {% if request.session.user_id %}
                    <a href="{% url 'profile' %}">Profile</a>
                    <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'register' %}">Register</a>
                {% endif %}
            </div>
        </nav>
    </header>

    <div class="movie-list">
        <h1>Movie List</h1>
        <form method="get" action="{% url 'movie_list' %}">
            <h2>Выберите жанры:</h2>
            {% for genre in genres %}
                <label>
                    <input type="checkbox" name="genres" value="{{ genre }}"
                        {% if genre in selected_genres %}checked{% endif %}>
                    {{ genre }}
                </label><br>
            {% endfor %}
            <button type="submit">Подобрать фильмы</button>
        </form>

        <h2>Подходящие фильмы:</h2>
        <ul>
            {% for movie in movies %}
                <li>
                    <a href="{% url 'movie_detail' movie.movie_id %}">
                        <button>
                            {{ movie.title }}
                            {% if movie.movie_id in liked_movie_ids %}
                                (Liked)
                            {% endif %}
                        </button>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>