<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h2>Profile</h2>
    <p>Name: {{ user.name }}</p>
    <p>Login: {{ user.login }}</p>
    <p>Password: {{ user.password }}</p>

    <h3>Liked Movies</h3>
    <ul>
        {% for like in liked_movies %}
            <li>
                <a href="{% url 'movie_detail' like.movie.id %}">{{ like.movie.title }}</a>  <!-- Ссылка на описание фильма -->
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'edit_profile' %}">Edit Profile</a>
    <a href="{% url 'logout' %}">Logout</a>
    <br><br>
    <a href="{% url 'movie_list' %}">Вернуться на главную</a>
</body>
</html>